<div class="container">
    
  <% if params[:nbhd] != "" && @nbhd %>
    <h1>Tools in <%= @nbhd.name %></h1>
  <% else %>
    <% end %>

  <div class="container">
    <h1>All Items</h1>
    <% @tools.each do |tool| %>
      <%= render 'tool', tool: tool %>
    <% end %>
  </div>

  <button id="back-to-top-btn" title="Go to top" onclick="topFunction()">Top</button>
</div>
