<% if params[:nbhd] != "" && @nbhd %>
  <h1>Tools in <%= @nbhd.name %></h1>
<% else %>
<h1>All Tools</h1>
  <% end %>

<div class="container">
  <% @tools.each do |tool| %>
    <%= render 'tool', tool: tool %>
  <% end %>
</div>
