<h1>Sharing the 6ix</h1>

<p>Hi <%= @chat.tool.owner.name %>,</p>
<br>
<p>You have a new message.</p>
<br>
<p>From: <%= @chat.user.name %></p>
<p>Subject: <%= @chat.tool.name %></p>
<p>Content: <%= @chat.content %></p>
