
<h2>Browse by Neighbourhood:</h2>

<ul>
  <% @neighbourhoods.each do |nbhd| %>
    <li>
      <div class="nbhd-div">
        <%= link_to(image_tag(nbhd.nbhd_image.url, border: 0, class: "nbhd-image"), neighbourhood_url(nbhd)) %>
      </div>
    </li>
  <% end %>
</ul>
