<hr>

<h3>About Us</h3>

<h4>We are Team R2D2 from Bitmaker's Full Stack Immersive Web Development Bootcamp!</h4>

<hr>

<p><strong>Bill Li</strong> is a dedicated runner from Markham with a background in Cobol programming.</p>

<p><strong>Dmitry Serbin</strong> is an avid cyclist from Toronto with a Bachelor's in Math.</p>

<p><strong>Debbie Rosenfeld</strong> is a passionate fan of heavy metal from Toronto with a background in Graphic Design.</p>
