* {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif, Helvetica, Arial;
}

.wrapper {
  width:100%;
  position:relative;
  left:0;
  top:0;
}

.site-nav {
  overflow: hidden;
  background-color: #FFE180;
}

.site-nav a {
  float: left;
  display: block;
  color: #282828;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.site-nav a:hover {
  background-color: #C03F49;
  color: #F0F4F1;
}

.active {
  background-color: #F0F4F1;
  color: white;
}
