@import "bootstrap-sprockets";
@import "bootstrap";

$lightred: #C03F49;
$offwhite: #F0F4F1;
$lightblack: #282828;
$lightyellow: #FFE180;

* {
  box-sizing: border-box;
}

/* mixins, variables, etc. */



body {
  margin: 0;
  font-family: 'Open Sans', sans-serif, Helvetica, Arial;
}

#logo {
  width: 100px;
}

.site-nav {
  overflow: hidden;
  background-color: $lightyellow;
  min-height: 80px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;

}

.site-nav a {
  float: left;
  text-decoration: none;
  display: block;
  color: $lightblack;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}

.site-nav {
  & :hover {
  background-color: $lightred;
  color: $offwhite;
  }
}

a:visited {
  color: $lightred;
}

.search-bar {
  display: flex;
  justify-content: center;
  padding: 20px;
}

/*hamburger menu*/


.menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.menu-icon .navicon:before,
.menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.menu-icon .navicon:before {
  top: 5px;
}
.menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.menu-btn {
  display: none;
}

.menu-btn:checked ~ .site-nav {
  max-height: 240px;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}


@media (max-width: 550px) {
  .site-nav {
    float: right;
    max-height: none;
  }

  #nav-links {
    display: none;
    float: left;
    padding: 20px 30px;
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
