@import "bootstrap-sprockets";
@import "bootstrap";

$lightred: #C03F49;
$offwhite: #F0F4F1;
$lightblack: #282828;
$lightyellow: #FFE180;

* {
  box-sizing: border-box;
}

/* mixins, variables, etc. */



body {
  margin: 0;
  font-family: 'Open Sans', sans-serif, Helvetica, Arial;
}

#logo {
  width: 100px;
  display: inline-block;
}

.site-nav {
  background-color: $lightyellow;
  min-height: 80px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  max-height: 0;

}

#nav-links {
  display: inline-block;
  text-decoration: none;
  color: $lightblack;
  text-align: center;
  font-size: 17px;
}

#nav-links {
  & :hover {
  background-color: $lightred;
  color: $offwhite;
  }
}

a:visited {
  color: $lightred;
}

.search-bar {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#hamburger-menu {
  display: inline-block;
  width: 30px;
}



@media (max-width: 550px) {
  .site-nav {
    display: block;
    max-height: none;
  }

  #hamburger-menu {
    display: block;
  }

  #nav-links {
    display: none;
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
