@import "bootstrap-sprockets";
@import "bootstrap";

$lightred: #C03F49;
$offwhite: #F0F4F1;
$lightblack: #282828;
$lightyellow: #FFE180;
$hero-height: 50vh;


* {
  box-sizing: border-box;
}

/* mixins, variables, etc. */


body {
  margin: 0;
  font-family: 'Open Sans', sans-serif, Helvetica, Arial;
  text-decoration: none;
}

a {
  color: $lightblack;
  &:hover {
    color: $lightred;
  }
}

#tool {
  border-color: $lightred;
  border-style: solid;
  border-width: 4px;
  padding: 2px;
  width: 600px;
  border-radius: 5px;
}

.tool-name {
  font-size: 20px;
  font-weight: bold;
}

#all-tools-btn {
  background: $lightyellow;
  color: $lightred;
  width: 180px;
  padding: 2px;
  position: relative;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  box-shadow: 0px 8px 5px rgba(0, 0, 0, .7);
  font-size: 20px;
  font-weight: bold;
  text-shadow: none;

  &:hover {
    cursor: pointer;
  }
}
  .hero-section-text {
    font-family: 'Bitter', serif;
    line-height: 70px;
    font-size: 40px;
    color: black;
    text-shadow: 1px 1px 2px $offwhite;
  }
  .hero-section {
  background: image-url('toronto1.jpeg') 50% no-repeat;
  background-size: cover;
  height: $hero-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}

.logo {
  width: 20px;
  display: inline-block;
  padding: 10px;
  background-color: none;
}

.header-image {
  object-fit: contain;
  width: 100px;
}

.site-nav {
  overflow: hidden;
  background-color: $lightyellow;
  height: 90px;
  min-height: 80px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}


.nav-links {
    & a {
      padding: 15px;
    }
  margin-left: 100px;
  display: inline-block;
  text-decoration: none;
  color: $lightblack;
  text-align: center;
  font-size: 17px;
}

.nav-links {
    & a:hover {
  padding: 14px 16px;
  text-decoration: none;
  min-height: 90px;
  background-color: $lightred;
  color: $offwhite;
  }
}

a:visited {
  color: $lightred;
}

.search-bar {
  display: flex;
  justify-content: center;
  padding: 60px;
}

.dropdown-content {
  visibility: hidden;
  position: absolute;
  right: 0;
  background-color: $lightyellow;
  min-width: 160px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  z-index: 500;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
    background-color: $lightred;
    color: $offwhite;
}

.nbhd-image a img {
  height: 176px;
}

.nbhd-image {
  width: 100%;
  margin: 8px;
}

.nbhd-image {
  .nbhd-name {
    visibility: hidden;
    position: absolute;
    top: 50%;
    font-size: 20px;
    color: black;
    font-weight: bold;
  }

  &:hover {
    img {
      opacity: 0.5;
    }
   .nbhd-name {
     visibility: visible;
    }
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}


@media screen and (max-width: 720px) {

  #tool {
    padding: 2px;
    width: 75%;
    border-radius: 3px;
  }

  .nav-links {
    display: none;
  }

  #all-tools-btn {
    padding: 10px;
  }

  .hero-section-text {
    font-size: 1.5em;
    line-height: inherit;
  }
  .hamburger-menu {
    top: 20px;
    right: 10px;
    position: fixed;
    #hamburger-menu {
      width: 30px;
      height: 30px;
      visibility: visible;
    }
  }
}

@media screen and (min-width: 375px) {
  .nbhd-image
    .nbhd-name {
      visibility: hidden;
      position: absolute;
      top: 45%;
      left: 33%;
      color: black;
    }
}

#map {
  height: 300px;
  width: 70%;
  margin-left: auto;
  margin-right: auto
}

.avatar {
  height: 250px;
}

.review-image {
  height: 250px;
}

a:hover {
  text-decoration: none;
}

button > a:visited {
  color: $lightblack;
}

ul {
  list-style: none
}

#star {
  display: inline;
}

p.rating, div.review-rating {
  display: inline
}

.availability, .tool-name-link {
  display: inline
}

.tool-index-image {
  display: block
}
