@import "bootstrap-sprockets";
@import "bootstrap";

$lightred: #C03F49;
$offwhite: #F0F4F1;
$lightblack: #282828;
$lightyellow: #FFE180;
$hero-height: 50vh;


* {
  box-sizing: border-box;
}

/* mixins, variables, etc. */


body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif, Helvetica, Arial;
}

a {
  text-decoration: none;
  color: $lightblack;
  &:hover {
    color: $lightred;
  }
}

.logo {
  width: 20px;
  display: inline-block;
  padding: 10px;
  background-color: none;
}

.header-image {
  object-fit: contain;
  width: 100px;
}

.site-nav {
  overflow: hidden;
  background-color: $lightyellow;
  height: 90px;
  min-height: 80px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
}


.nav-links {
  & a {
    padding: 15px;
  }
  margin-left: 100px;
  display: inline-block;
  text-decoration: none;
  color: $lightblack;
  text-align: center;
  font-size: 17px;
}

.nav-links {
  & a:hover {
    padding: 14px 16px;
    text-decoration: none;
    min-height: 90px;
    background-color: $lightred;
    color: $offwhite;
  }
}


.tool-name {
  font-size: 20px;
  font-weight: bold;
}

.tool {
    width: 30%;
    float: left;
    height: 100%;
    margin: 10px;
}


.hero-section {
  width: 100%;
  background: image-url('toronto1.jpeg') no-repeat;
  background-size: cover;
  height: $hero-height;
  position: relative;
    #hero-section-text {
      position: relative;
      text-align: center;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: 'Bitter', serif;
      font-size: 5rem;
      color: $offwhite;
      text-shadow: 1px 1px 2px black;
      z-index: 100;
    }
}

.main-buttons {
  position: absolute;
  top: 70%;
  display: inline-flex;
  width: 100%;
  justify-content: space-evenly;
    #start-borrowing-btn, #start-lending-btn {
      background: $lightyellow;
      color: $lightred;
      width: 15%;
      padding: 15px;
      border-radius: 6px;
      box-shadow: 0px 8px 5px rgba(0, 0, 0, .7);
      font-size: 2.5rem;
      font-weight: bold;
      display: inline-flex;
      justify-content:center;
      text-shadow: none;

      &:hover {
        cursor: pointer;
      }
    }
}



a:visited {
  color: $lightred;
}


.search-bar {
  width: 100%;
  padding: 5% 0 5% 0;
}


.tool-show {
  margin: 10px 30px 20px;
}

.dropdown-content {
  visibility: hidden;
  position: absolute;
  right: 0;
  background-color: $lightyellow;
  min-width: 160px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  z-index: 500;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
    background-color: $lightred;
    color: $offwhite;
}

.nbhd-image a img {
  position: relative;
  width: 100%;
}


.nbhd-image {
  width: 100%;
  margin: 8px;
    .nbhd-name {
      background-color: $lightred;
      width: 50%;
      position: absolute;
      border-radius: 5px;
      top: 40%;
      font-size: 2rem;
      text-align: center;
      left: 27%;
      color: white;
    }
}


#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: $lightred;
    color: $offwhite;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#back-to-top-btn:hover {
    background-color: $lightyellow;
    color: $lightblack;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/*media queries*/

@media screen and (max-width: 1423px) and (min-width: 1036px) {

.hero-section {
    width: 100%;
      #hero-section-text {
        font-size: 3.5rem;
      }
  }
  .main-buttons {
    #start-borrowing-btn, #start-lending-btn {
      font-size: 1.7rem;
    }
  }
}

@media screen and (max-width: 1035px) and (min-width: 960px) {

  .hero-section {
      width: 100%;
        #hero-section-text {
          font-size: 3.2rem;
          padding: 0 10px 0 10px;
        }
    }
    .main-buttons {
      #start-borrowing-btn, #start-lending-btn {
        font-size: 1.5rem;
      }
    }
}


@media screen and (max-width: 959px) and (min-width: 768px) {

  .hero-section {
      width: 100%;
        #hero-section-text {
          font-size: 3.2rem;
          padding: 0 10px 0 10px;
        }
    }
    .main-buttons {
      #start-borrowing-btn, #start-lending-btn {
        width: 19%;
        font-size: 1.5rem;
        padding: 8px;
      }
    }
}


@media screen and (max-width: 767px) and (min-width: 426px) {

  .hero-section {
      width: 100%;
        #hero-section-text {
          font-size: 3rem;
          padding: 0 7px 0 7px;
        }
    }
    .main-buttons {
      #start-borrowing-btn, #start-lending-btn {
        width: 15%;
        font-size: 1.2rem;
        padding: 6px;
        text-align: center;
      }
    }
}


@media screen and (max-width: 425px) {

  .hero-section {
      width: 100%;
        #hero-section-text {
          font-size: 2.5rem;
          padding: 0 5px 0 5px;
        }
    }
    .main-buttons {
      #start-borrowing-btn, #start-lending-btn {
        width: 22%;
        font-size: 1rem;
        padding: 5px;
        text-align: center;
      }
    }
}
//   .tool {
//     padding: 2px;
//     width: 75%;
//     border-radius: 3px;
//   }
//
//   .nav-links {
//     display: none;
//   }
//
//   .dropdown-content {
//     position: fixed;
//     z-index: 1000;
//   }
//
//   .main-buttons {
//     width: 70%;
//   }
//
//   #hero-section-text {
//     font-size: 2rem;
//     line-height: inherit;
//   }
//   .hamburger-menu {
//     top: 20px;
//     right: 10px;
//     position: fixed;
//     #hamburger-menu {
//       width: 30px;
//       height: 30px;
//       visibility: visible;
//     }
//   }
// }
