<footer class="footer">
  <small>
    <p><strong>Sharing the 6ix - Final Project</strong></p>
      <p>by Team R2D2</p>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Privacy Policy", privacy_path %></li>
    </ul>
  </nav>
</footer>
